<!doctype html>

<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">

<head>

	{% include 'thmDocHead' %}

	{{ content_for_header }}

</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

	{%- comment -%}For Users that use keyboard to navigate page.{%- endcomment -%}
  	<a class="visHid ablFoc skpLnk" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  	{% section 'header' %}

  	<main role="main" id="MainContent">

    	{{ content_for_layout }}

  	</main>

  	{% section 'footer' %}

</body>

</html>
